.footer {
    position: fixed;
    bottom: 0;
    height: 75px;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 6%;

    @media (max-width: 678px) {
        display: none;
    }

    &__link {
        position: relative;
    }

    a {
        display: inline-flex;
        transition: all .3s ease-in-out;
    }

    a:hover {
        color: #ff5e14;
    }

    @media (max-width: 500px) and (min-width: 300px) {
        height: 100px;
    }

    p {
        margin: 0;

        @media (max-width: 500px) and (min-width: 300px) {
            margin: 2px 0;
        }
    }

    .navigat-wrap {
        margin: 0 4px;

        &__box {
            position: relative;
            width: 180px;
            margin-top: -58px;

            @media (max-width: 500px) and (min-width: 300px) {
                // width: 100px;
                // margin-top: -22px;
                display: none;
            }

            .active-item {
                background: #ff5e14;
                color: #fff;
            }

            .swiper-button-next {
                border-radius: 0 1em 0 0;

                &:hover {
                    .material-icons {
                        // transform: translate(15px, 0);
                    }
                }
            }
            .swiper-button-prev {
                border-radius: 1em 0 0 0;

                &:hover {
                    .material-icons {
                        // transform: translate(-15px) rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                padding: 40px;
                background: #fff;
                transition: all 0.3s ease-in-out;
                outline: none;

                @media (max-width: 500px) and (min-width: 300px) {
                    padding: 20px;
                }
                
                span {
                    font-size: 33px;
                    color: #00235a;
                    outline: none;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background: #ff5e14;
                    color: #fff;
                    outline: none;

                    span {
                        color: #fff;
                    }
                }

                &:focus {
                    outline: none;
                }
            }

            .swiper-button-next::after,
            .swiper-button-prev::after {
                content: "" !important;
            }

            .swiper-button-prev {
                .material-icons {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__icon {
        display: inline-block;
        margin-right: 15px;
    }

    &__copyright {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: 0 7%;

        @media (max-width: 500px) and (min-width: 300px) {
            bottom: 10px;
        }

        &-box {
            @media (max-width: 500px) and (min-width: 300px) {
                display: flex;
                flex-direction: column;
                align-items: self-end;
            }
        }

        &_text {
            @media (max-width: 992px) {
               display: none;
            }
        }

        a {
            // font-size: 14px;
            text-decoration: none;
        }
    }

    .developer {
        a {
            color: #4d6272;
        }
    }
}
