
.menu {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 10px 0;
    margin: 0 6%;

    ul {

        li {

            a {
                text-decoration: none;
                font-weight: 700;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .hamburger {
        position: fixed;
        top: 3px;
        right: 30px;
    }

    // .hamburger.is-active .hamburger-inner:after {
    //     background-color: #ff5e14;
    // }

    // .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    //     background-color: #ff5e14;  
    // }
}